@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-vesalius-custom {
    background-image: url('/hola.jpeg');
    background-size: cover;
    background-position: center;
  }
}
